<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h3><i class="fa fa-road"></i> RoadMap</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5>Developers</h5>
            </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h6>Harshit Singh</h6>
            <h6 class="author"><a class="anchor" href="mailto:hrshit2000@gmail.com"><i class="icon fas fa-envelope"></i></a>
                 <a class="anchor" href="https://www.linkedin.com/in/harshit-singh-2000/" target="_blank">
                    <i class="icon fab fa-linkedin"></i></a></h6>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h6>Naman Munjal</h6>
            <h6 class="author"><a class="anchor" href="mailto:munjal.naman19@gmail.com"><i class="icon fas fa-envelope"></i>
              <a class="anchor" href="https://www.linkedin.com/in/naman-munjal/" target="_blank">
                <i class="icon fab fa-linkedin"></i>
              </a>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h5 class="text text-md-right">Get In Touch</h5>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <form>
          <fieldset class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
            />
          </fieldset>
          <fieldset class="form-group">
            <textarea
              class="form-control"
              id="exampleMessage"
              placeholder="Suggestions"
            ></textarea>
          </fieldset>
          <fieldset class="form-group text-xs-right">
            <button type="button" class="send-button btn btn-md">
             <b> Send</b>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <h6 class="copyright">© RoadMap 2021</h6>
</footer>
