<!-- Navbar -->
<section class="navbar-section">
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Learn Smart</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                    Sign Up
                </button>
                <button class="btn btn-outline-success" type="submit">
                    Log In
                </button>
            </form>
        </div>
    </nav>
</section>