<div class="card-1">
  <h1>What will you learn ?</h1>
  <br />
  <h4>
    The course is complete, yet accessible for beginners. We will start by
    discovering what WebGL is and why using the Three.js library is a must. We
    will then discover the various components of Three.js and once the basics
    are acquired, we will move on to more advanced techniques to display
    millions of particles, add physics, add interactions, create a galaxy,
    animate a raging sea, etc.
  </h4>
</div>

<!-- card-1 with info -->
{% for subject in subjects %}
  <div class="card-1">
    <!-- Anchor Tag Starts-->
    <div class="for">
    <h4>0{{ forloop.counter }}.</h4>
    <h1 class="subject-color">
      <a class="subject-color" href="{% url 'subject' subject.title %}">{{subject.title}}</a>
    </h1>
    <h6>{{ subject.description }}</h6>
    <h6 class="subject-color">
      <i class="fas fa-calendar-alt"></i> {{subject.topics.count}} lessons — {{ subject.duration }}
    </h6>
    {% for topic in subject.topics.all %}
    <div>
        <b class="subject-color">{{ forloop.counter }}.</b>    {{topic.title}}
        <span class="time"> {{ topic.duration }} week</span>
      </h6>
      <hr />
    </div>
    {% endfor %}
  <!-- Anchor Tag Ends -->
  </div>
</div>
{% endfor %}
