{% extends 'base.html' %} {% load static %} {% block content %}
<div class="no-footer">
  {% include 'navbar.html' %}

  <!-- Basic Header -->
  <section class="header-section">
    <h1 class="header-text">
      Back to <br />
      Learning
    </h1>
    <!-- <button type="button" class="browse-content btn btn-outline-success">
      <i class="fas fa-infinity"></i>
      RoadMaps
    </button>
    <button type="button" class="browse-content btn btn-outline-danger">
      <i class="fas fa-lightbulb"></i>
      Resources
    </button>
    <button type="button" class="browse-content btn btn-outline-danger">
      <i class="fas fa-lightbulb"></i>
      Projects
    </button> -->
    <img src="" alt="" />
  </section>

  <!-- Courses Section -->
  {% include 'base/courseSection.html' %}
</div>

{% include 'footer.html' %} {% endblock %}
