{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<section class="subject">
  <h1 class="header-1">{{ subject.title }}</h1>
  <p>{{ subject.description }} {% for topic in subject.topics.all %}</p>

  <h3>{{topic.title}}</h3>
  <p>
    {{ topic.description|safe }} {% for link in topic.links.all %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </li>
  </p>
  <br />
  <hr />

  {% endfor %}
</section>

{% include 'footer.html' %} {% endblock %}
